body{
    background-image: url("5.jpg");
    height: 100vh;
    background-size: 100% 170%;
    height:100%;
    background-repeat: no-repeat;
    align-items: center;
    width: 100%;
   color:white;  
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: max-content;
}
h1{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    color: rgb(255, 136, 0);
    margin-bottom: 30px;
}
.category-btn{
    background-color: rgb(153, 60, 60) ;
    border: 2px solid rgb(153, 60, 60);
    margin: 3%;
    width: 45%;
    border-radius: 10px;
    font-weight: bolder;
}
.category-btn:hover{
    background-color: transparent;
    border: 2px solid rgb(153, 60, 60);
    
}
a:hover{
    text-decoration: none;
}
.book-btn{
    padding: 10px;
    margin-top: 70px;
    background-color:rgb(230, 63, 13);
    border-radius: 10px;
    font-weight: bolder;
    border-style: none;
    color: blanchedalmond;
    /* width: max-content; */
    width: max-content;
    border: 2px solid rgb(230, 63, 13);
}
.book-btn:hover{
    border: 2px solid rgb(172, 228, 82);
    font-weight: bolder;
    background-color:transparent;
    color:rgb(172, 228, 82);
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
